{% extends 'KnpRadBundle:Layout:tb.html.twig' %}

{% block headers %}
    <title>{% block title %}{% block subtitle '' %} &mdash; KnpRadBundle{% endblock %}</title>
    <meta name="description" content="{% block description '' %}">
    {% stylesheets filter='lessphp,cssrewrite,?yui_css'
    '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock headers %}

{% block body %}
    <div class="container">
        {% block content '' %}
    </div>
{% endblock %}
